@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500&display=swap');
body {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  background-color: #fff;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;





}

